language: ruby
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq pdftk
bundler_args: --without development
script: "bundle exec rspec spec && bundle exec cucumber"

env:
    - CI=true
rvm:
    - 1.9.3
    - 1.8.7
    - jruby-19mode
    - ree
gemfile: Gemfile
