language: ruby
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq pdftk mkvtoolnix libimage-exiftool-perl
script: "bundle exec rake"

env:
    - CI=true
rvm:
    - 1.9.3
    - 1.8.7
